import { defineConfig } from 'vite'
import vue from '@vitejs/plugin-vue'
import path from 'path'

export default defineConfig({
  plugins: [vue()],
  server: {
    port: 5173,
    open: true, // Abre el navegador automáticamente
  },
  resolve: {
    alias: {
      '@': path.resolve(__dirname, 'src'), // Alias para rutas más limpias
    },
  },
  build: {
    outDir: 'dist', // Carpeta de salida
    sourcemap: true, // Mapas de código fuente para depuración
  },
  define: {
    'process.env': {}, // Evita errores con variables de entorno
  },
})

